/* */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body{
     
    /*background-image: url(../img/bg-pattern-desktop.svg);*/
    height: 100vh;
    width: 100vw;
    font-family: 'Playfair Display', serif;
    overflow: hidden

}

.logo{
    margin-top: 3%;
    
}

.figura-logo{
    margin-top:5px;
    margin-left: 4em; 
   
    /*  border:  solid 1px black; background: blue; */
}

.primeiro-paragrafo{
    
   
    color:#c79ea2 !important;  
  
}

.subtitulo{
    margin-top: 80px;
    margin-left: 1em;
    max-width: 380px;
    font-size: 4em;
    color: #352f2f;
   
    /*  border:  solid 1px black; margin-top: 0px; */
}

.terceiro-paragrafo{
   
    margin-left: 5.3em !important;
    font-size: 12px !important;
    text-align: justify !important;
    max-width: 380px;
    word-wrap:break-word;
    color: #c79ea2; 
   
    
}
.valido{
    border: 1px solid #f9d5d5;
    border-radius: 10px;
    display: flex;
    width:400px;
    margin-left: 4em;
    margin-top: 2em;    
}
.invalido{
    border: 1px solid red;
    border-radius: 10px;
    display: flex;
    width:400px;
    margin-left: 4em;
    margin-top: 2em;  
}

input{
    border: 0;
    flex: 1;
    border-radius: 10px;
    outline: 0;
}
button{
    background-color: #c79ea2;
    color: #FFF;
    border: 0;
    border-radius: 10px;
    height: 35px;
    width: 65px;
}
button:hover{
    background-color: #f9d5d5;
    box-shadow: 2px 2px 2px 1px #eccacb ;
}


.img-temp{
    /*background: pink;*/
    border-color:  solid 1px black;
   
}
.modelo{
   height: 100vh;
   width: 41vw;
   
}